# files to be ignored in commits

# testbench artifacts
*.vvp
*.vcd

# generated binary
aes_ref

# generated test vectors
*.csv
*.csv#

#directory which holds the resources's pdfs and the vec dir with all csv files
aes-docs/
vec/
